<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        {% block title%}
        <title>Piccy</title>
        {% endblock %}
        {% block icon %}
        <link rel="icon" href="http://www.stickpng.com/assets/images/584abeed2912007028bd9331.png">
        {% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {% block stylesheet%}
        <link rel="stylesheet" type="text/css" href="../../static/CSS/feed.css">
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
        <nav class="navbar navbar-default navbar-fixed-top" style="overflow: hidden; height: 40px;">
            <div class="container-fluid" style="height: 4vh;">
              <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'images' %}"><img src=
                        "http://www.stickpng.com/assets/images/584abeed2912007028bd9331.png" 
                            alt="camera" border="0" style="width: 30px;"></a>
              </div>
              {% if user.is_authenticated %}
              <div class="navbar-inner">
                    <ul class="nav nav-center" style="margin-left: 20vw;">
                            <li class="search"><form class="navbar-form" role="search" action="{% url 'search' %}">
                                    <div class="input-group"><input class="inputbox" type="text" placeholder="Search" name="title" style="border: none;"><button class="btn btn-default" type="submit" style="height: 27px; margin-top: -1px; padding-bottom: 5px; border: none;"><i class="glyphicon glyphicon-search"></i></button></form></li>
                        </ul>
            </div>
            {% endif %}
            </div>
          </nav>
<div style="right: 10px; position: fixed; list-style-type: none; padding-top: 2vh; text-align: right;">
    {% if user.is_authenticated %}
    <li><a href="{% url 'logout' %}"><h4 style="color:black; margin-top: 10px;">Sign Out</h4></a></li>
    {% if request.path != "/view/all/" %}
    <li><a href="{% url 'images' %}"><h5 style="color:black; margin-top: 10px;">Home</h5></a></li>
    {% endif %}
    {% if request.path != "/user/request.user.id" %}
    <li><a href="{% url 'user' id=request.user.id %}"><h5 style="color:black; margin-top: 10px;">Profile</h5></a></li>
    {% endif %}
    {% if request.path != "/upload/" %}
    <li><a href="{% url 'upload' %}"><h5 style="color:black; margin-top: 10px;">Upload</h5></a></li>
    {% endif %}
    {% else %}
    {% if request.path == "/login/" %}
    <li><a href="{% url 'index' %}"><h4 style="color:black; margin-top: 10px;">Register</h4></a></li>
    {% endif %}
    {% if request.path == "/" %}
    <li><a href="{% url 'login' %}"><h4 style="color:black; margin-top: 10px;">Login In</h4></a></li>
    {% endif %}
    {% endif %}
    
</div>
          
        {% endblock %}
        <div class="content" style="margin-top: 70px;">
        {% block content %}
        {% endblock %}
        </div>
        {% load staticfiles %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>