{% extends 'Instagram/base.html' %}
{% load staticfiles %}
{% block content %}
<div class = "photo">
    <div style="float: left">
        <h5>Comments:</h5>
        {% for comment in comments %}
        <p><span style="font-weight: bold; font-style: italic;">{{ comment.author }}</span> {{ comment.text }}</p><br>
        {% endfor %}
        <h6>Add a comment:</h6>
        <form method="POST" class="post-form">
                {% csrf_token %}
                    {{ form }}
                    <!-- <button type="submit" class="save btn btn-default">Save</button> -->
                    </form>
    </div>
        <div style="display:flex;justify-content:center;align-items:center;">
                <div>
                        <div class="containe1r">
                            <div style="border-bottom: 1px solid rgb(160, 159, 159);">
                                <h1 class="header" style="margin-left: 15px;">{{ photo.title }}</h1><a href="{% url 'user' id=photo.author.id %}"><p style="margin-left: 15px;">{{ photo.author }}</p></a>
                            </div>
                            <div style="padding-top: 10px;"></div>
                                <img src="{{ photo.image.url }}" style="width: 100%; margin-top: -20px;">
                                <div class="underbox">
                                        <div style="float:left">
                                            {% if like_count > 0 %}
                                            {% if like_count = 1 %}
                                            <p style="font-size: 15px;">{{ like_count }} Like</p>
                                            {% else %}
                                            <p style="font-size: 15px;">{{ like_count }} Likes</p>
                                            {% endif %}
                                            {% else %}
                                                <p style="font-size: 15px;">0 Likes</p>
                                            {% endif %}
                                        </div>
                                        <div style="float:left; margin-left: 10px;">
                                            {% if liked %}
                                            <img src="http://www.clker.com/cliparts/R/U/Y/u/I/M/thumbs-up-icon-blue-hi.png" style="width: 20px; margin-top: -15px;">
                                            {% else %}
                                            <a href = "{%url  'like' photo.id %}"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/15931-200.png" style="width: 20px; margin-top: -15px;"></a>
                                            {% endif %}
                                        </div>
                                        {% if request.user == photo.author %}
                                        <div style="float: right;">
                                        <a href = "{%url  'delete' photo.id %}"><p style="font-size: 10px;margin-right: 10px;">Delete</p></a>
                                        </div>
                                        {% endif %}
                                        <div style="margin-top: 30px;">
                                            <h6><span style="font-weight: bold; font-style: italic;">{{ photo.author }}</span> {{ photo.description }}</h6>
                                        </div>
                                    </div>
                            </div>
                            <!-- <a href = "{%url  'update' photo.id %}"><p>Update</p></a>/ -->
                </div>
              </div>
        </div>

<!-- 
            <p>
                    <strong id="like_count">{{ photo.likes }}</strong> people like this photo
                            <button id="likes" data-photoid="{{ photo.id }}" class="btn btn-primary" type="button">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            Like
                            </button>
                    </p>


        <h1><a href="{% url 'user' photo.author.id %}">{{ photo.title }}</a></h1>
        <h2>{{ photo.author }}</h2>
        <img src="{{ photo.image.url }}">
        <p>{{ photo.description }}</p>
        <p>{{ photo.likes }} Likes</p> -->

{% endblock %}