<!DOCTYPE html>
<html>
    <head>
        <title>index</title>
    </head>
    <body>
            <li><a href="{% url 'index' %}">Index</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'images' %}">Images</a></li>
            <li><a href="{% url 'upload' %}">Upload</a></li>
            <li><a href="{% url 'search' %}">Search</a></li>
    </body>
</html>