<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>index</title>
        <link rel="stylesheet" type="text/css" href="../../static/CSS/login.css">
    </head>
    <body>
                <img src="../../static/images/bg1.png" alt="logo" style="margin-left: 15vw; margin-top: 10vh;">
        
        <div class="container">
            <img src="../../static/images/instagram.svg" alt="logo" style="width: 55%; margin-top: 30px; margin-left: 80px;">
            <div class="form">
                    <form id="login_form" method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            Username: <input type="text" name="username" value="" size="50" />
                            <br />
                            Password: <input type="password" name="password" value="" size="50" />
                            <br />
                            <input type="submit" value="submit" />
                            </form>
            </div>
        </div>
        <div class = "login">
            <p>Don't have an account? <a href="{% url 'index' %}">Register</a></p>
        </div>
    </body>
</html>

