{% extends 'Instagram/base.html' %}
{% load staticfiles %}
{% block content %}
<h1 style="text-align: center;">Register</h1>
<div style="text-align: center; margin-top: 10vh; width: 30vw; margin: 0 auto; font-size: 20px;">
        <form id="user_form" method="post" action="{% url 'index' %}"
        enctype="multipart/form-data"> 
        {% csrf_token %}
        
        {% for field in user_form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}<br>
        {{ field.label }}:
        <div style="margin: 0 auto; text-align: center;">
        {{ field }}<br>
    </div>
    {% endfor %}
        {% for field in profile_form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}<br>
        {{ field.label }}:
        <div style="margin: 0 auto; text-align: center;">
        {{ field }}<br>
    </div>
    {% endfor %}
        

        <input class = "button" type="submit" name="submit" value="Register" style="border: solid 2px black; border-radius: 10px; margin-top: 5px;"/>
        </form>    
    <form id="photo_form" method="post" action="/upload/" enctype="multipart/form-data">
        <a href="{% url 'login' %}"><p>Have account? Log in!</a></p>
    </form>        
    </div>	
{% endblock %}