{% extends 'Instagram/base.html' %}
{% load staticfiles %}
{% block content %}
        <h1><p>{{ user.user.username }}</p></h1>
            {% if follow_count == 1 %}
            <p>{{ follow_count }} Follower,
            {% else %}
            <p>{{ follow_count }} Followers, </p>
            {% endif %} Following {{ user_follow_count }}</p>

            {% if user.id == request.user.id %}
            <p>Your Profile</p>
            {% elif following == True %}
            <p>You are Following This User</p>
            {% else %}
            <a href = "{%url  'follow' user.id %}"><p>Follow This User</p></a>
            {% endif %}
        <div class = "photos" style="margin-bottom: 10vh">
            {% if if_photos == 0 %}
            <h1>You have no posts</h1>
            {% endif %}
            {% for photo in photos %}
            <div class = "photo2">
            <div style="display:flex; justify-content:center; align-items:center;">
                    <div>
                            <div class="containe1r">
                                    <div style="border-bottom: 1px solid rgb(160, 159, 159);">
                                        <a href="{% url 'details' id=photo.id %}"><h1 class="header" style="margin-left: 15px;">{{ photo.title }}</h1></a><a href="{% url 'user' id=photo.author.id %}"><p style="margin-left: 15px;">{{ photo.author }}</p></a>
                                    </div>
                                    <div style="padding-top: 10px;"></div>
                                        <img src="{{ photo.image.url }}" style="width: 100%; margin-top: -20px;">
                                        <div class="underbox">
                                                <div style="float:left">
                                                    {% if like_count > 0 %}
                                                    {% if like_count = 1 %}
                                                    <p style="font-size: 15px;">{{ like_count }} Like</p>
                                                    {% else %}
                                                    <p style="font-size: 15px;">{{ like_count }} Likes</p>
                                                    {% endif %}
                                                    {% else %}
                                                        <p style="font-size: 15px;">0 Likes</p>
                                                    {% endif %}
                                                </div>
                                                <div style="float:left; margin-left: 10px;">
                                                    {% if liked %}
                                                    <img src="http://www.clker.com/cliparts/R/U/Y/u/I/M/thumbs-up-icon-blue-hi.png" style="width: 20px; margin-top: -15px;">
                                                    {% else %}
                                                    <a href = "{%url  'like' photo.id %}"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/15931-200.png" style="width: 20px; margin-top: -15px;"></a>
                                                    {% endif %}
                                                </div>
                                                <div style="margin-top: 30px;">
                                                    <h6><span style="font-weight: bold; font-style: italic;">{{ photo.author }}</span> {{ photo.description }}</h6>
                                                </div>
                                            </div>
                                    </div>
                    </div>
                  </div>
            </div>
                  {% endfor %}
                </div>

                
{% endblock %}