{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block content %}
        <div>
            {% if tags %}
             <!-- ROW -->
            <div class="row">
            {% for tag in tags %}
            <!-- COLUMN 1 -->
            <div class="column">

                <!-- CARD -->
                <div class="card" style = "border-radius: 10px; background-color: rgba(0, 0, 0, 0);">
                    <div class = "images">
                    {% for photo in photos %}
                    <img src="{{ photo.image.url }}" alt="Avatar" style="width:100%" class = "big_card_img">
                    {% endfor %}
                    </div>
                    <div class="container align-self-end">
                      <h4><a href = "/tag/{{ tag.slug }}"><b>{{ tag.name }}</b></a></h4> 
                    </div>
                  </div>
                  <!-- CARD -->

            </div> <!-- END COLUMN -->
            {% endfor %}
            {% else %}
            <strong>There are no tags. Be the first to make one!</strong>
            {% endif %}
        </div>
    </div>
{% endblock %}