<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <title>THEWebsite</title>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/main.css' %}">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    </head>
    <body>
        {% if tag %}
                <h1>{{ tag.name }}</h1>
                {% if photos %}
    <!-- ROW -->
        <div class="row">
            {% for photo in photos %}
            <!-- COLUMN 1 -->
            <div class="column">

                <!-- CARD -->
                <div class="card" style = "border-radius: 10px; background-color: rgba(0, 0, 0, 0);">
                    <img src="{{ photo.image.url }}" alt="{{ photo.title }}" style="width:100%" class = "card_img">
                    <div class="container">
                      <h4><b><a href = "{{ photo.image.url }}" class = "title">{{ photo.title }}</a></b></h4> 
                      <p>{{ photo.views }} views</p>
                      <p>published: {{ photo.pub_date }}</p> 
                    </div>
                  </div>
                  <!-- CARD -->
                  {% endfor %}
                {% else %}
                  <strong>No pictures have been submitted with this Tag!</strong>
                {% endif %}
                {% else %}
                <h1>This Tag does not exist</h1>
                {% endif %}

            </div> <!-- END COLUMN -->
    <!-- <h1>YOYOYO</h1>
    <div>
        <div>
            {% if tag %}
                <h1>{{ tag.name }}</h1>
                {% if photos %}
                    <ul>
                        {% for photo in photos %} -->
                        <!-- <li><a href = "{{ photo.url }}">{{ photo.title }}</a></li> -->
                        <!-- <li>{{ photo.title }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                <strong>No pictures have been submitted with this Tag!</strong>
                {% endif %}
            {% else %}
            <h1>This Tag does not exist</h1>
            {% endif %}
        </div>
    </div>
    <div>
        <a href="/rango/tag/{{tag.slug}}/add_photo/">Add Photo</a> <br/>
        <a href="/rango/about/">About</a><br />
        <img src = "{% static 'images/cow.jpg' %}" alt = "your mom" style = "height: 50vh; width: 50vw;">
    </div> -->
    </body>
</html>